/* 
    Created on : Jan 8, 2014, 11:52:39 AM
    Author     : juan
*/
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/*.transition(@duration:0.2s, @ease:ease-out) {
  -webkit-transition: all @duration @ease;
  -moz-transition: all @duration @ease;
  -o-transition: all @duration @ease;
  transition: all @duration @ease;
}*/
/*.box-shadow(@arguments) {
  -webkit-box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  box-shadow: @arguments;
}*/
/* 
    Created on : Jan 4, 2014, 5:53:51 PM
    Author     : juan
*/
#notice .alert {
  border-top: none;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0.3rem;
  -webkit-border-bottom-left-radius: 0.3rem;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0.3rem;
  -moz-border-radius-bottomleft: 0.3rem;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#notice img {
  float: left;
  margin: 0 1rem;
}
#overview {
  padding-bottom: 50px;
}
#overview .item,
#overview .title {
  border-bottom: 1px solid #eeeeee;
}
#overview .item {
  padding: 10px 0;
  color: #333333;
}
#overview .item .amount {
  font-family: ProximaNovaSoft-Regular;
  font-size: 3.4rem;
  line-height: 1em;
}
#overview .item .subtext {
  font-family: ProximaNovaSoft-Regular;
  font-size: 1em;
  line-height: 1em;
  color: #7d7d7d;
}
#overview h2 {
  font-size: 1.142em;
  font-weight: bold;
  letter-spacing: -1px;
}
#overview #achievements {
  padding-left: 0px;
}
#overview #achievements .title {
  color: #ea6654;
}
#overview #investments .title {
  color: #fcc34a;
}
#overview #projects {
  padding-right: 0px;
}
#overview #projects .title {
  color: #72bc81;
}
#details .section-title {
  background-color: #72bc81;
  color: white;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
}
#details .section-title h2 {
  font-size: 3.4rem;
  margin-top: 10px;
}
#table-header {
  background-color: #e7f4fb;
}
#table-header div {
  color: #7d7d7d;
  font-family: ProximaNovaSoft-Semibold;
}
#table-header .row,
#table-content .row {
  padding: 10px 5px;
}
#table-header div [class^=col-],
#table-content div [class^=col-] {
  float: left;
  line-height: 1.1em;
  padding-top: 3px;
  font-size: 1em;
  font-family: ProximaNovaSoft-Semibold;
}
#table-header div.col-1,
#table-content div.col-1 {
  width: 20%;
}
#table-header div.col-2,
#table-content div.col-2 {
  width: 15%;
}
#table-header div.col-3,
#table-content div.col-3 {
  width: 15%;
}
#table-header div.col-4,
#table-content div.col-4 {
  width: 12%;
}
#table-header div.col-5,
#table-content div.col-5 {
  width: 12%;
}
#table-header div.col-6,
#table-content div.col-6 {
  width: 12%;
}
#table-header div.col-7,
#table-content div.col-7 {
  width: 12%;
}
#table-content > div {
  border-bottom: 1px solid #eeeeee;
}
#table-content > div:nth-child(odd) {
  background-color: white;
}
#table-content > div:nth-child(even) {
  background-color: #fcfcfc;
}
#table-content .subtext {
  font-size: 1.2rem;
  color: #7d7d7d;
}
#table-content .subtext.partner {
  font-size: 0.857em;
  color: #1c8ccf;
}
#table-content .col-1 a {
  font-family: ProximaNovaSoft-Bold;
  font-size: 1em;
  color: #1c8ccf;
}
#table-content img {
  float: left;
  width: 50px;
  height: 50px;
  margin-right: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#table-content img.flag {
  margin: 1px 5px 0px 0px;
  width: auto;
  height: auto;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
#table-content img.avatar {
  margin-top: -5px;
}
#table-content .partner {
  display: block;
}
.pager li > a {
  border-width: 2px;
  border-color: #1c8ccf;
  font-weight: bold;
  padding-top: 0;
  padding-bottom: 0;
  height: 3rem;
  line-height: 3rem;
  vertical-align: middle;
}
.pager li.disabled > a {
  border-color: #7d7d7d;
}
