/*-----------------------------------------------------------------------------------*/
/*	    GoodData
/*      Built with Blocs
/*-----------------------------------------------------------------------------------*/

body{
	margin:0;
	padding:0;
    background:#FFF;
    overflow-x:hidden;
    -webkit-font-smoothing: antialiased;
}
a:hover{text-decoration: none; cursor:pointer;}

button{outline: none!important;} /* Prevent ugly blue glow on chrome and safari */


a{
	color:#d6683d;
}
 a:hover{
	color:#d6683d;
	text-decoration:none;
	cursor:pointer;
}

/*
p{
	font-family:Open Sans;
	font-weight:400;
}
h3{
	font-family:Lato;
	font-weight:700;
}
a{
	font-family:Open Sans;
	font-weight:400;
}
h2{
	font-family:Lato;
	font-weight:700;
}

p{
	font-size:16px;
}*/

/* Site container width */

.container{
	max-width:1170px;
}

/* = Blocs
-------------------------------------------------------------- */

.bloc{
	width:100%;
	clear:both;
	background: 50% 50% no-repeat;
	padding:0 50px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.bloc .container{
	padding-left:0;
	padding-right:0;
}


/* Sizes */

.bloc-lg{
	padding:100px 50px;
}
.bloc-md{
	padding:50px;
}
.bloc-sm{
	padding:20px 50px;
}


/* Dark theme */

.d-bloc{
	color:rgba(255,255,255,.7);
}
.d-bloc button:hover{
	color:rgba(255,255,255,.9);
}
.d-bloc h1, .d-bloc h2, .d-bloc h3, .d-bloc h4,.d-bloc h5, .d-bloc h6, .d-bloc .ico{
	color:rgba(255,255,255,.9);
}
.d-bloc .icon-round,.d-bloc .icon-square,.d-bloc .icon-rounded,.d-bloc .icon-semi-rounded-a,.d-bloc .icon-semi-rounded-b{
	border-color:rgba(255,255,255,.9);
}
.d-bloc .divider-h span{
	border-color:rgba(255,255,255,.2);
}
.d-bloc a{
	color:rgba(255,255,255,.6);
}
.d-bloc a:hover{
	color:rgba(255,255,255,1);
}
.d-bloc .navbar-toggle .icon-bar{
	background:rgba(255,255,255,1);
}
.d-bloc .btn-wire,.d-bloc .btn-wire:hover{
	color:rgba(255,255,255,1);
	border-color:rgba(255,255,255,1);
}
.d-bloc .panel{
	color:rgba(0,0,0,.5);
}
.d-bloc .panel button:hover{
	color:rgba(0,0,0,.7);
}
.d-bloc .panel h1,.d-bloc .panel h2, .d-bloc .panel h3, .d-bloc .panel h4, .d-bloc .panel h5, .d-bloc .panel h6, .d-bloc .ico{
	color:rgba(0,0,0,.7);
}
.d-bloc .panel icon{
	border-color:rgba(0,0,0,.7);
}
.d-bloc .panel .divider-h span{
	border-color:rgba(0,0,0,.1);
}
.d-bloc .panel a{
	color:rgba(0,0,0,.6);
}
.d-bloc .panel a:hover{
	color:rgba(0,0,0,1);
}
.d-bloc .panel .btn-wire, .d-bloc .panel .btn-wire:hover{
	color:rgba(0,0,0,.7);
	border-color:rgba(0,0,0,.3);
}


/* Light theme */

.l-bloc{
	color:rgba(0,0,0,.5);
}
.l-bloc button:hover{
	color:rgba(0,0,0,.7);
}
.l-bloc h1,.l-bloc h2,.l-bloc h3,.l-bloc h4,.l-bloc h5, .l-bloc h6, .l-bloc .ico{
	color:rgba(0,0,0,.7);
}
.l-bloc .icon-round,.l-bloc .icon-square,.l-bloc .icon-rounded,.l-bloc .icon-semi-rounded-a,.l-bloc .icon-semi-rounded-b{
	border-color:rgba(0,0,0,.7);
}
.l-bloc .divider-h span{
	border-color:rgba(0,0,0,.1);
}
.l-bloc a{
	color:rgba(0,0,0,.6);
}
.l-bloc a:hover{
	color:rgba(0,0,0,1);
}
.l-bloc .navbar-toggle .icon-bar{
	color:rgba(0,0,0,.6);
}
.l-bloc .btn-wire, .l-bloc .btn-wire:hover{
	color:rgba(0,0,0,.7);
	border-color:rgba(0,0,0,.3);
}

/* Bloc text custom styling */

#hero-bloc h1{
	font-size: 50px;
	font-weight: 700;
}
#hero-bloc h3{
	font-size:30px;
}
#bloc-3 h3{
	font-weight: 900;
}
#bloc-3 p{
	font-size: 16px;
}
#bloc-4 h3{
	font-size: 40px;
	font-weight: bold;
}
#bloc-4 p{
	font-size: 16px;
}
#bloc-5 h2{
	font-weight: 700;
	line-height: 34px;
}
#bloc-5 ul{
	font-size: 16px;
}
#bloc-7 h3{
	font-weight: 700;
}
#bloc-7 p{
	font-weight: 400;
	color: rgba(0,0,0,0.6);
}
#bloc-9 p{
	font-weight: 400;
}

/* = NavBar
-------------------------------------------------------------- */

.navbar{
	margin-bottom: 0;
	z-index:1;
	border: none;
}
.navbar-brand{
	height:auto;
	padding:15px 15px;
	font-size:25px!important;
	font-weight:normal;
	font-weight:600;
}
.navbar-brand img{
	max-height: 200px;
	margin: 0 5px 0 0;
	display:inline;
}
.navbar-brand{
	padding: 15px 15px;
}
.navbar .nav{
	float:right;
	z-index:1;
}
.nav > li{
	float:left;
	font-size:16px;
}
.navbar-nav .open .dropdown-menu > li > a{
	text-align: inherit;
}
.nav > li a:hover, .nav > li a:focus{
	/*background:transparent;*/
}
.navbar-toggle{
	margin: 10px 10px 0 0;
	border: 0px;
}
.navbar-toggle:hover{
	background:transparent!important;
}
.navbar-toggle .icon-bar{
	background-color: rgba(0,0,0,.5);
	width: 26px;
}
 /* Inverted navbar */

.nav-invert .navbar .nav{
	float:left;
}
.nav-invert .navbar-header, .nav-invert .navbar-brand{
	float:right;
}

.call-to-action{
	padding-top: 20px;
}
@media (min-width: 768px){
	.site-navigation{
		position:absolute;
		top:50%;
		right:20px;
		transform:translate(0, -50%);
		-webkit-transform:translateY(-50%);
	}
	.nav-invert .site-navigation{
		left:20px;
		right:0;
	}
	.nav-center{
		text-align:center;
	}
	.nav-center .navbar-header{
		width:100%;
	}
	.nav-center .navbar-header, .nav-center .navbar-brand, .nav-center .nav > li{
		float: none;
		display:inline-block;
	}
	.nav-center .site-navigation{
		position:relative;
		width:100%;
		margin-top:20px;
	}
}
.nav > li > .dropdown a{
	background: none!important;
	display: block;
	padding: 10px 15px;
}

nav .caret{
	margin: 0 5px;
}

/* = Hero
-------------------------------------------------------------- */

.hero{
	padding: 290px 0;
	position:relative;
	display:inline-table;
	background: rgba(118, 119, 119, 0.1);
	color: white;
}
.hero-nav{
	position:absolute;
	margin: 0 auto;
	top:0;
	left:0;
	right:0;
}
.v-center{
	position:relative;
	width:100%;
	height: 100%;
	display: table;
	table-layout: fixed;
}
.v-center .vc-content{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 100%;
	height: 100%;
}
.hero .btn-dwn{
	width: 58px;
	height: 58px;
	line-height: 58px;
	margin: 0 0 0 -29px;
	padding: 0;
	border-radius: 50%;
	text-align: center;
	font-size: 18px;
	color: rgba(255,255,255,.8);
	background: rgba(0,0,0,.6);
	position: absolute;
	left: 50%;
	bottom: 60px;
	border:0;
}
.hero .btn-dwn:hover{
	color: rgba(255,255,255,1);
}

.hero .hero-video-container{
	z-index: -1;
	position: absolute;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
	overflow: hidden;
}

.hero .hero-video{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	min-height: 50%;
	min-width: 50%;

	background: url("../img/tgd_background.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


/* = Bric adjustment margins
-------------------------------------------------------------- */

.mg-sm{
	margin-top:10px;
	margin-bottom:5px;
}
.mg-md{
	margin-top:10px;
	margin-bottom:20px;
}
.mg-lg{
	margin-top:10px;
	margin-bottom:40px;
}
img.mg-sm,img.mg-md,img.mg-lg{
	margin-top: 0;
}
img.mg-sm{
	margin-bottom:10px;
}
img.mg-md{
	margin-bottom:30px;
}
img.mg-lg{
	margin-bottom:50px;
}

/* = Buttons
-------------------------------------------------------------- */

.btn{
	margin: 0 5px 5px 0;
}
.btn.pull-right{
	margin: 0 0 5px 5px;
}
.btn-d,.btn-d:hover,.btn-d:focus{
	color:#FFF!important;
	background:rgba(0,0,0,.3);
}

/* Prevent ugly blue glow on chrome and safari */
button{
	outline: none!important;
}

.dropdown a .caret{
	margin:0 0 0 5px}
/* = Icons
-------------------------------------------------------------- */
.icon-md{
	font-size:30px!important;
}

/* Image Frame */
.img-frame,.img-frame-md,.img-frame-lg,.img-frame-rd,.img-frame-rd-md,.img-frame-rd-lg{
	background:#FFF;
	border:1px solid rgba(0,0,0,0.1);
	box-shadow:0 2px 2px rgba(0,0,0,0.05);
	padding:4px;
}
.img-frame{
	border-radius:3px;
}
.img-frame-md,.img-frame-lg{
	border-radius:6px;
}
.img-frame-md,.img-frame-rd-md{
	padding:8px;
}
.img-frame-lg,.img-frame-rd-lg{
	padding:14px;
}
/*  Rounded Image */
.img-rd{
	border-radius:6px;
}
.img-rd-md{
	border-radius:20px;
}
.img-rd-lg{
	border-radius:34px;
}

/* = Text & Icon Styles
-------------------------------------------------------------- */
.lg-shadow{
	text-shadow:0 2px 5px rgba(0,0,0,.5);
}
/* = Text Widths
-------------------------------------------------------------- */
.text-w-sm{
	max-width:150px;
	margin: auto;
}


.panel-sq, .panel-sq .panel-heading, .panel-sq .panel-footer{
	border-radius:0;
}
.panel-rd{
	border-radius:30px;
}
.panel-rd .panel-heading{
	border-radius:29px 29px 0 0;
}
.panel-rd .panel-footer{
	border-radius:0 0 29px 29px;
}
footer{
	background-color: #fbfbfb;
	box-shadow: inset 0 1px 0 #fff;
	padding: 20px 0 25px 0;
	position: relative !important;
}
footer .license {
    font-size: 10px;
    text-align: center;
    padding: 0 !important;
    /*padding: 25px 2%!important;*/
}

footer .license img{
    padding-left: 0;
    /*float: left;*/
}

footer .license p{
    padding-left: 0;
}

footer ul{
	margin-right: 0!important;
}

footer ul.social {
    /*width: 110px!important;*/
    text-align: right;
}
footer ul.social li {
    margin: 0 3px!important;
}
footer ul.social li a{
    margin-bottom: 10px;
}



/* iFrame */

iframe{
	border:0;
}
/* = Carousel
-------------------------------------------------------------- */

.carousel-control span{
	position: absolute;
	top: 50%;
	z-index: 5;
	display: inline-block;
}
.carousel-control{
	color:#FFF!important;
	text-shadow: none;

}
.carousel-indicators {
	bottom: -40px!important;
}
.carousel-indicators li{
	margin: 0 4px;
	border-color: #55A0EB!important;
}
.carousel-indicators .active{
	margin: 0 4px -1px;
	background-color: #55A0EB!important;
}

.right.carousel-control, .left.carousel-control {
    display: none;
}

/* = Custom Colour Styling
-------------------------------------------------------------- */

/* Background colour styles */

.bgc-white{
	background-color:#ffffff;
}
.bgc-dark-pastel-blue{
	background-color:#71abd4;
}
.bgc-snow{
	background-color:#fbfbfb;
}
.bgc-dark-coral{
	background-color:#d6683d;
}
.bgc-isabelline{
	background-color:#eeeeee;
}
/* Text colour styles */

.tc-united-nations-blue{
	color:#55A0EB!important;
}
.tc-beau-blue{
	color:#81aaea!important;
}
/* Button colour styles */

.btn-dark-coral{
	background:#d6683d;
	color:#FFF!important;
}
.btn-dark-coral:hover{
	background:#d9754d;
	color:#FFF!important;
}

/* Bloc image backgrounds */

#bloc-7 {
	background-color: #eee;
	box-shadow: inset 0 -2px 0 #e4e4e4;
}



/* = Mobile adjustments 
-------------------------------------------------------------- */
@media (max-width: 768px)
{
    .container{width:100%;}
    .b-parallax{background-attachment:scroll;}
    .page-container, #hero-bloc{overflow-x: hidden;position: relative;} /* Prevent unwanted side scroll on mobile */  
}
@media (max-width: 767px)
{
    .page-container{
        overflow-x: hidden;
        position:relative;
    }
    h1,h2,h3,h4,h5,h6,p{
        padding-left:10px!important; 
        padding-right:10px!important; 
    }
    #hero-bloc h1{
        font-size:40px;
    }
    #hero-bloc h2{
        font-size:34px;
    }
    #hero-bloc h3{
        font-size:25px;
    }
    .bloc{
        padding-left: 0; 
        padding-right: 0;  
        -webkit-background-size: auto 200%;
        -moz-background-size: auto 200%;
        -o-background-size: auto 200%;
        background-size: auto 200%;
    }
    .bloc, .bloc .text-right{
        text-align: center!important;
    }
    .b-parallax{
        background-attachment:scroll;
    }
    
    .navbar .nav{
        padding-top: 0;
        border-top:1px solid rgba(0,0,0,.2);
        float:none!important;
    }
    .navbar.row{
        margin-left: 0;
        margin-right: 0;
    }

    .navbar-fixed-top{
    	box-shadow: none !important;
    }

    .site-navigation{
	   position:inherit;
	   transform:none;
	   -webkit-transform:none;
	   -ms-transform:none;
    }  
    .nav > li{
        margin-top: 0;
        border-bottom:1px solid rgba(0,0,0,.1);
        background:rgba(0,0,0,.05);
        text-align: left;
        width:100%;
    }
    .nav > li:hover{
        background:rgba(0,0,0,.08);
    }
    #hero-bloc .navbar .nav{
        background:rgba(0,0,0,.8);
    }
    #hero-bloc .navbar .nav a{
        color:rgba(255,255,255,.6);
    }
    .hero{
		padding: 180px 0;  
    }
    .hero-nav{
        left:-1px;
        right:-1px;
    }
    .navbar-collapse{
        padding:0;
        overflow-x: hidden;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-brand img{
        max-height: 40px;
        width:auto;
        margin: -10px 10px 0 0;    
    }
    .nav-invert .navbar-header{
        float: none;
        width:100%;
    }
    .nav-invert .navbar-toggle{
        float:left; 
    }
    .btn.pull-left, .btn.pull-right{
       float:none!important; 
    }
    .bloc-group .bloc{
         display:block;
         width:100%;
     }
    .bloc-tile-2 .container, .bloc-tile-3 .container, .bloc-tile-4 .container{
	   padding-left: 10px;
	   padding-right: 10px;
    }
    .bloc-xxl,.bloc-xl,.bloc-lg{
        padding: 40px 0;
    }
    .bloc-sm,.bloc-md{
        padding-left: 0; 
        padding-right: 0;
    }
    .a-block{
        text-align: center;
    }
    .btn-dwn{
       display:none; 
    }
    .voffset{
        margin-top:5px;
    }
    .voffset-md{
        margin-top:20px;
    }
    .voffset-lg{
        margin-top:30px;
    }
    form{
        padding:5px;
    }
    .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}
