.form .row{
	margin-left:0px;
}

.form label{
	width:150px;
}

.form input{
	width:150px;
}

.form .buttons{
	margin-top:20px;
}


.dataGrid .label{
	color:black;
}

.portlet-title{
	margin-top:20px;
	font-size:18px;
}

#queries-form input{
	width:150px;
}
