* {
  font-family: ProximaNovaSoft-Regular,Arial,sans-serif;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*styles*/

html, body {
  height: 100%;
  font-size: 13px;
}

body {
  background: url(../img/notification-bg.jpg) no-repeat center;
  background-size: cover;
}

section.main-container {
  width: 550px;
  position: absolute;
  top: 23%;
  left: 32%;
  background: url(../img/color-border.jpg) no-repeat;
  height: 306px;
}

article.notification-container {
  padding: 20px 45px;
}

article.notification-container header {
  border-bottom: 2px solid gray;
  border-style: dotted;
  padding-bottom: 5px;
}

.content-container {
  overflow: auto;
  height: 139px;
  padding: 10px 0 0 0;
}

.content-left-column, .content-right-column, .statistic-left-column, .footer-left-column {
  float: left;
}

.content-left-column {
  padding-right: 15px;
}

.content-right-column {
  width: 210px;
}

.content-container .content-left-column img {
  /*width: 204px;*/
  height: 114px;
}

.statistic-container {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 6px 0;
  overflow: auto;
}

.statistic-right-column, .footer-right-column {
  float: right;
}

.footer-right-column img {
  width: 15px;
}

.inline-middle {
  display: inline-block;
  vertical-align: middle;
}

header img {
  width: 19px;
}

.statistic-container .statistic-left-column img {
  width: 30px;
  display: block;
  margin: 0 auto;
}

.statistic-container .statistic-right-column img {
  width: 27px;
  display: block;
  margin: 0 auto;
}

.footer-container {
  padding: 7px 0px;
}

header img {
    width: 30px;
}

header h2 {
  color: #50599E;
  font-size: 15.66px;
}

.share-container p {
  color: #259E49;
  font-weight: bold;
  font-size: 11px;
  margin-top: 9px;
  display: inline-block;
}

.statistic-container p {
  color: #404040;
  font-weight: bold;
  font-size: 12px;
}

footer.footer-container p {
  color: #404040;
  font-weight: bold;
  font-size: 12px;
}

.aid-number, .aid-text {
  color: #259E49;
}

.shield-number, .shield-text {
  color: #F0504D;
}

.btn {
  display: inline-block;
  padding: 1px 7px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  text-decoration: none;
}

.btn-primary {
  color: #fff;
  background-color: #8862AA;
}

.footer-left-column p {
  margin-right: 9px;
}

.statistic-container span {
  padding: 0 6px;
  font-weight: bold;
}

.aid-container span, .shield-container span {
  font-size: 8px;
}

ul.social li {
  display: inline-block;
  vertical-align: top;
  padding: 0 2px;
}

ul.social li a#facebook {
  background: url(../img/rs-1.svg) no-repeat;
  width: 8px;
}

ul.social li a#twitter {
  background: url(../img/rs-2.svg) no-repeat;  
}

ul.social li a#googleplus {
   background: url(../img/rs-3.svg) no-repeat; 
}

ul.social li a {
  display: block;
  width: 13px;
  height: 13px;
}

ul.social {
  display: inline-block;
  margin-left: 2px;
}

.social li:nth-child(2) {
  vertical-align: middle;
}

section.ads-leaderboard-container {
  width: 728px;
  position: absolute;
  top: 2%;
  left: 26%;
  height: 90px;
  background: gray;
}

section.ads-medium-rectangle-container {
  width: 300px;
  position: absolute;
  top: 25%;
  left: 79%;
  height: 250px;
  background: gray;
}

.why_ads {
  position: absolute;
  top: 61%;
  left: 86%;
}

.why_ads[text]:hover:after {
  content: attr(text);
  padding: 4px 8px;
  color: #333;
  position: absolute;
  left: -122%;
  right: -134%;
  top: 100%;
  /* white-space: nowrap; */
  margin-top: 11px;
  z-index: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 4px #222;
  -webkit-box-shadow: 0px 0px 4px #222;
  box-shadow: 0px 0px 4px #222;
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}

span.footer-message {
  position: absolute;
  top: 64%;
  left: 40%;
}

a {
  color: #50599E;
}