body{
	-webkit-font-smoothing: antialiased;
}
/*------- Coders Page -------*/

header{
	box-shadow: 0 1px 1px rgba(0,0,0,.05), inset 0 -1px 0 #e7e7e7;
}
footer .footer{
	box-shadow: inset 0 1px 0 #e4e4e4;		
}
section.coders{
	border: 1px solid #e4e4e4;
	padding: 50px 0 0 0;
}
section.coders>div{
	padding-bottom: 50px;
	padding: 0 40px 50px 30px;
}
section.coders>div img{
	display: block;
	margin: 0 auto;
}
	section.coders h3{
		color: #4b4b4b;
		font-size: 20px;
		font-weight: bold;
		line-height: 1.3;
		margin-bottom: 20px;
		margin-top: 10px;
	}
	section.coders p{
		color: #4b4b4b;
		font-size: 16px;
	}

section.coders div.coding_list{
	border-top: 1px solid #e4e4e4;	
	background-color: #fbfbfb;
	padding: 40px 12px;
}
	section.coders div.coding_list div{
		width: 230px;
		float: left;
		text-align: center;
		font-size: 16px;
		font-weight: bold;
		margin: 0 40px;
	}
	section.coders div.coding_list div img{
		margin-bottom: 30px;
	}
	section.coders div.coding_list div p{
		color: #4b4b4b;
		line-height: 1.3;
		margin-bottom: 8px;
	}

/*------- Company Page -------*/

.title_head{
	height: 210px;
	border-right: 1px solid #eee;
	border-left: 1px solid #eee;
	border-bottom: 1px solid #e3e3e3;
	padding: 50px 30px;
}

.title_head h3{
	color: #085779;
	font-size: 30px;
	font-family: "ProximaNovaSoft-Medium";
	text-align: center;
	margin: 0;
}
.mission p,
.values p,
.our_way_desc p{
	color: #4b4b4b;
	font-size: 15px;
}
.mission .title_head{
	background: url(../img/blue_logo.png) no-repeat center center #e7f4fb;
}

.values .title_head{
	background: url(../img/hands_lite.png) no-repeat center center #f6f5e9;
}
.title_desc{
	height: 250px;
	border: 1px solid #eee;
	padding: 30px;
}

.our_way{
	height: 420px;
	background: url(../img/our_way.png) no-repeat center center #ea6654;
	margin-top: 20px;
}
.our_way a#our_way{
	width: 200px;
	display: block;
	color: #fff;
	font-size: 30px;
	font-family: "ProximaNovaSoft-Medium";
	text-align: center;
	border: 3px solid #fff;
	cursor: default;
	padding: 10px 15px;
	margin: 180px auto 0 auto;
}
.our_way a#our_way:hover{
	text-decoration: none;
}
.our_way span {
	display: block;
	position: absolute;
	bottom: 15px;
	left: 27px;
}
.our_way span a:hover{
	color: #fff;
	text-decoration: underline;	
}
.our_way span img{
	float: left;
	margin-right: 10px;
	margin-top: -3px;
}
.our_way span em{
	color: #fff;
	font-size: 16px;
	font-family: "ProximaNovaSoft-Medium";
	font-style: normal;
}
.our_way_desc{
	height: 420px;
	border: 1px solid #e3e3e3;
	margin-top: 20px;
	padding: 30px 40px;
}
.our_way_desc h4{
	color: #4b4b4b;
	font-size: 18px;
	font-family: "ProximaNovaSoft-Semibold";
	line-height: 1.2;
}

/*------- FAQ Page -------*/

.faq{
	border: 1px solid #eee;
	padding: 20px 0;
}

.faq ul li{
	position: relative;
	list-style: none;
	margin-bottom: 15px;
}
.faq .tab-pane>ul>li:before{
	content: "";
	width: 10px;
	position: absolute;
	top: 6px;
	left: -20px;
	border-left: 8px solid #268dcb;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
}
.faq .tab-pane>ul>li.active:before{	
	border-top: 8px solid #b1b1b1;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
}
.faq .tab-pane>ul>li ul>li:before{
	display: block;
	content: "";
	width: 10px;
	height: 10px;
	position: absolute;
	top: 8px;
	left: -20px;
	background: url(../img/red_drop_list_icon.png) no-repeat;	
}
.faq ul li em{
	color: #268dcb;
	font-family: "ProximaNovaSoft-Semibold";
	font-size: 18px;
	font-style: normal;
	cursor: pointer;
}
.faq ul li.active em{
	color: #4b4b4b;
}
.faq ul li p{
	color: #4b4b4b;
	font-family: "ProximaNovaSoft-Regular";
	font-size: 16px;
	margin: 6px 0;
}

/*------- Product Page -------*/

.product-tabs{
	/*border-right: 5px solid #268dcc;*/
}

.product-content{
	border-left: 5px solid #268dcc;
	padding: 25px 30px 25px 0;
	/*min-height: 536px;*/
	min-height: 536px;
}

.product-content ul li:before{
	height: 10px;
	left: -15px;
	border: none !important;
}
.product-content .red_drop_list ul li:before{
	background: url(../img/red_drop_list_icon.png) no-repeat;	
}
.product-content .blue_drop_list ul li:before{
	background: url(../img/blue_drop_list_icon.png) no-repeat;	
}
.product-content .dark_blue_drop_list ul li:before{
	background: url(../img/dark_blue_drop_list_icon.png) no-repeat;	
}
.product-content .green_drop_list ul li:before{
	background: url(../img/green_drop_list_icon.png) no-repeat;	
}

.product-tabs ul li span{
    display: block;
    width: 48px;
    height: 48px;
    font-family: "ProximaNovaSoft-Medium";
    line-height: 1.6;
    text-align: center;
    border-radius: 100%;
    border: 3px solid #fff;
    float: left;
    margin-right: 18px;
    margin-top: 3px;
}

.product-content ul.brief_desc li{
	width: 100%;
}
.product-content ul.brief_desc li:before{
	display: none;
}
.product-content ul.brief_desc h3,
.product-content ul.brief_desc p{
	width: 70%;
	color: #4b4b4b;
	font-family: "ProximaNovaSoft-Semibold";
	font-size: 20px;
	float: left;
}
.product-content ul.brief_desc h3{
	margin-top: 0;
}
.product-content ul.brief_desc p{
	font-family: "ProximaNovaSoft-Medium";
	font-size: 14px;
	margin-bottom: 20px;
	margin-top: 0;
}
.product-content ul.brief_desc img{
	float: right;
        margin-right: 35px;
}